.productcol{
    margin-left: 100px;
    padding-top: 30px;
}
/* 
* {
    font-family: 'Engine';
    src: url('/static/main/css/Raleway-VariableFont_wght.');
    font-weight: 400;
    font-style: normal;
} */

.login_form {
    padding: 10% 0;
    flex-flow: column;
}
a {
    color: #000; /* Черный цвет для ссылок */
    text-decoration: none; /* Убрать подчеркивание ссылок */
}
