.productcol{
    margin-left: 100px;
    padding-top: 30px;
}
/* 
* {
    font-family: 'Engine';
    src: url('/static/main/css/Raleway-VariableFont_wght.');
    font-weight: 400;
    font-style: normal;
} */

.login_form {
    padding: 10% 0;
    flex-flow: column;
}
a {
    color: #000; /* Черный цвет для ссылок */
    text-decoration: none; /* Убрать подчеркивание ссылок */
}

.btn_gradient_purple {
    display: inline-flex;
    height: 40px;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(79, 101, 241);
    background-image: linear-gradient(90deg, rgb(111, 137, 251) 0%, rgb(97, 109, 245) 33%, rgb(92, 82, 235) 100%);
    transition: all 250ms ease 0s;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    border: none;
    z-index: 1;
    float: right;
    margin-right: 6px;
}