

.container {
    display: flex;
    justify-content: center;  
    align-items: start; 
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px; 
    padding: 5px 5px 5px 5px;
    
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}
