{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<div class="modal fade" id="cartModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Кошик</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Закрить"></button>
      </div>
      {% for cart in carts %}

      <div class="modal-body">
        <div class="row">
          <div class="card mb-3 text-bg-light shadow-lg">
            <div class="card-header">
              <div class="card-title">{{cart.product.name}}

                <a href="{% url 'cart:cart_remove' cart.id %}" type="button" class="btn-close" aria-label="Close"></a>
                {% csrf_token %}

              </div>
            
              <div class="col">                    
              </div>
              {{cart.product.discount_price}} грн
              
              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <a type="button"
                      class="btn btn-secondary btn-sm decrement"
                      data-cart-id data-cart-change-url>-</a>
                      
                  </span>
                  <input type="text" class="form-control number"
                    value="{{cart.quantity}}"
                    readonly>
                  <span class="input-group-btn">
                    <a href="{% url 'cart:cart_add' cart.product.slug %}" type="button"
                      class="btn btn-secondary btn-sm increment"
                      data-cart-id data-cart-change-url>+</button>
                  </span>
                  <p style="padding-left: 10px;">= {{cart.products_price}} грн</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="modal-footer">
        <div class="container">
          <div class="row">
            <div class="col">
              Кількість товарів: {{carts.total_quantity}}
            </div>
            <div class="col">
              Ітогова ціна: {{carts.total_price}}
            </div>
          </div>
          <br>
          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              {% if carts %}
              
              <a href="{% url 'orders:create_order' %}" type="button" style="width: 300px;"
              class="btn btn-secondary">Замовити</a>
                
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>