{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

  <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Кошик</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрить"></button>
        </div>EEE
        SDSDSDSDE
        {% for cart in carts %}
          <div class="modal-body">
            <strong>

              {{cart.product.name}}
              {{cart.product.discount_price}}

            </strong>
              <div class="input-group">
                <div class="input-group-btn">
                  <input type="text" class="form-control number" value="{{cart.quantity}}">
                  <button type="button" class="btn btn"">-</button>
                  <button type="button" class="btn btn"">+</button>
                </div>
              </div>
            </div>
          {% endfor %}
          
          <div class="modal-footer">
            {{carts.total_quantity}}
            Разом: {{carts.total_price}}
            <button type="button" class="btn btn-primary">Замовити</button>
          </div>
        </div>
    </div>
  </div>