{% extends "main/base.html" %}
{%load static%}
{%load goods_tags%}


{% block css %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock css %}

{% block title %}
<title>Каталог</title>
{% endblock title %}

{% block info %}
<div class="container">
  <div class="btn-group" role="group">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      Фільтр
    </button>
    <ul class="dropdown-menu">
      {%tag_categories as categoris%}
      {%for i in categoris%}
      <li><a class="dropdown-item" href="{% url 'catalog:index' i.slug %}">{{i}}</a></li>
      {%endfor%}
    </ul>
  </div>
</div>

<div class="container"> 
  <div class="row">
    {%for i in products%}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;  margin-bottom: 12px;">
        {%if i.image%}
          <img src="{{i.image.url}}" class="card-img-top" style="width: 100%; height: 380px;" alt="...">
        {%else%}
          <img src="{%static 'goods/nf2.png'%}" class="card-img-top" style="width: 100%; height: 380px;" alt="...">
        {%endif%}
        <!-- нижняя чясть карты -->
        <div class="card-body">
          <a href='{% url "catalog:product" i.slug %}'>
            <h5 class="card-title">{{i.name}}</h5>
          </a>
          {%if i.discount%}
            <p class="original-price">{{i.price}} ₴</p>
            <p class="discounted-price">{{i.discount_price}} ₴</p>
          {%else%}
            <p class="discounted-price">{{i.price}} ₴</p>
          {%endif%}
          <a href="#" class="btn btn-secondary">Купить</a>
        <!--  -->
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
<!-- Пагинация -->
<div class="container"> 
  <div class="d-flex justify-content-center">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><<<</a></li>
        {% for page in products.paginator.page_range %}
          <li class="page-item"><a class="page-link" href="{% url 'catalog:index' slug_url page %}">{{page}}</a></li>
        {%endfor%}
        <li class="page-item"><a class="page-link" href="#">>>></a></li>
      </ul>
    </nav>
  </div>
</div>

{% endblock info %}

  


