{% extends "main/base.html" %}
{%load static%}
{%load goods_tags%}

{% block title %}
<title>{{product.name}}</title>
{% endblock title %}

{% block info %}
<div class="container">

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{product.image.url}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{product.image.url}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{product.image.url}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Опис
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          {{product.description}}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock info %}