{% extends "base.html" %}
{%load static%}
{%load goods_tags%}

{% block title %}
<title>{{product.name}}</title>
{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-6 ">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{product.image.url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ product.image.url }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{product.image.url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{product.image.url}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <div style="margin-left: 20px;">
        <div class="card product-card">
          <div class="card-header">
            <h2>{{product.name}}</h2>
          </div> 
          <div class="card-body">
            <h6>{{product.description}}</h6>

          </div>
          <div class="card-footer text-center" style="background-color: rgba(239, 237, 237, 0.902);">
            <h5 class="card-title">{{product.discount_price}}грн</h5>
            <a href="{% url 'cart:cart_add' product.slug %}" class="btn">Додати до кошика</a>.
          </div>
        </div>
      </div>
    </div>
    
    
    
  </div>
    
</div>



{% endblock content %}