{% extends "base.html" %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block content %}

<form action="{% url 'user:login' %}" class="login_form" method="POST">
  {% csrf_token %}
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
{% endblock content %}
