{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}{% endblock title %}

  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  
</head>
</html>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:index'%}">Salamis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- нафигация -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="{% url 'goods:index' category_slug='all' %}">Каталог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:about' %}">Кошик</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:profile' %}">Кабінет</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:about' %}">Про нас</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:login' %}">Війти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:logout' %}">Регістрація</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:logout' %}">Вийти</a>
            </li>
            <!-- поиск -->
            
            
          </ul>
        </div>
        <form class="d-flex" role="search" action="{% url 'catalog:search' %}" method='get'>
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Пошук</button>
        </form>
      </div>
    </nav>
    {% block info %}
    {% endblock info %}
    <footer class="py-4 bg-white">
      <div class="container">
          <p class="m-0 text-center text-black">Salamis 2023</p>
      </div>
  </footer>
  <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>