{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %}{% endblock title %}

  
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>

</html>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'main:index'%}">Salamis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- нафигация -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
              href="{% url 'goods:index' category_slug='all' %}">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:about' %}">Про нас</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#cartModal">
              Кошик
            </a>

            <!-- Модальное окно -->
            {% include "carts\includes\included_cart.html" %}
          </li>
          {% if not user.is_authenticated %}
            
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:login' %}">Війти</a>
          </li>
          {% else%}
          <!-- выпадающее меню -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Профіль</a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user:profile' %}">Кабінет</a>
              </li>
              {% if user.is_admin or user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Адмін панель</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user:logout' %}">Вийти</a>
              </li>
            </ul>
          </li>
          {% endif %}

        </ul>
      </div>

      <!-- поиск -->
      <form class="d-flex" role="search" action="{% url 'catalog:search' %}" method='get'>
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Пошук</button>
      </form>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}
  {% include "notifications.html" %}
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer class="py-4 bg-white">
  <div class="container">
    <p class="m-0 text-center text-black">Salamis 2024</p>
  </div>
</footer>
</html>