{% extends "base.html" %}
{%load static%}

{% block title %}
<title>Про нас</title>
{% endblock title %}

{% block content %}

<body>
    <div class="container mt-4">
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'main/images/aboutus.jpg' %}" alt="About Us" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>Український бренд жіночого одягу</p>
                <p>🧷Комфортний одяг твого повсякденного життя
                <p>🧷Лімітовані колекції</p>
                <p>🧷Наложений \повернення\обмін</p>
                <p>🧷Шоу рум:Бровари вул.Київська261</p>
            </div>
        </div>
    </div>
    <div class="container mt-4 text-center">
        <br>
        <div class="row">
            <strong>Слідкуйте за нами в соц пережах</strong>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}