{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}{% endblock title %}

  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
</html>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:index' %}">Salamis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="{% url 'goods:index' %}">Каталог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:about' %}">Кошик</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:about' %}">Кабінет</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:about' %}">Про нас</a>
            </li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Пошук</button>
            </form>
          </ul>
        </div>
      </div>
    </nav>
    {% block info %}
    {% endblock info %}
    <footer class="py-4 bg-white">
      <div class="container">
          <p class="m-0 text-center text-black">Salamis 2023</p>
      </div>
  </footer>
  <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>