{% extends "base.html" %}
{%load static%}

{% block title %}
<title>{{title}}</title>
{% endblock title %}


{% block content %}

    <!-- Додавання фотографії перед надписом "Святкуйте свій стиль з нами" -->
    <section class="welcome-photo text-center">
        <img src="{% static "images/logofullsize.png" %}" alt="Ласкаво просимо до нашого магазину">
        
    </section>

    <section class="banner text-center py-5">
        <div class="container">
            <h2 class="display-4 mb-4">Святкуйте свій стиль з нами!</h2>
            <p class="lead">Великий вибір стильного жіночого одягу для будь-якого випадку.</p>
            <a href="{% url 'goods:index' category_slug='all' %}"" class="btn btn-primary btn-lg">Каталог</a>
            
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature text-center mb-4">
                        <i class="fas fa-shipping-fast fa-4x mb-4"></i>
                        <h3>Швидка доставка</h3>
                        <p>Отримайте ваші покупки протягом 1-3 днів.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center mb-4">
                        <i class="fas fa-sync fa-4x mb-4"></i>
                        <h3>Повернення протягом 30 днів</h3>
                        <p>Ми приймаємо повернення протягом 30 днів після покупки.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center mb-4">
                        <i class="fas fa-headset fa-4x mb-4"></i>
                        <h3>Круглодобова підтримка</h3>
                        <p>Наша команда готова допомогти вам 24/7.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


{% endblock content %}