{% extends "main/base.html" %}
{%load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock css %}

{% block title %}
<title>Home</title>
{% endblock title %}
{% block card %}



<div class="container">

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/1.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-secondary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/2.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/3.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/4.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/5.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/6.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/7.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>

    <div class="many_card">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'main/images/11.jpg' %}" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Название одежды</h5>
          <p class="card-text">100 грн.</p>
          <a href="#" class="btn btn-primary">Купить</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock card %}